.page-header-small {
  background-image: url('../assets/tesselation.png');
  padding: 2rem 3rem;
  text-align: center;
}

.tesselation-btn {
  background-image: url('../assets/tesselation.png');
  margin-left: 10px;
}

.page-header-small > h1,h2 {
  color: white;
}

.project-name-link {
  color: white;
}

.tweets {
  width: 50%;
}

h1 {
  font-weight: bold !important; /* override normalize */
}