<section class="page-header-small">
  <h1 class="project-name">
    <a class="project-name-link" href="{{site.baseurl}}">
      {{site.title}}
    </a>
  </h1>
  <h2 class="project-tagline">Interactive case studies for understanding and addressing bias in STEM</h2>
  <a href="{{site.baseurl}}/#why" class="btn">Why bias matters</a>
  <a href="{{site.baseurl}}/#teaching" class="btn">How bias can surface in teaching</a>
  <a href="{{site.baseurl}}/#improve" class="btn">How we can improve</a>
  <a href="{{site.teachermoments.demo_url}}" class="btn" style="color: white !important; border-color: whitesmoke; background-color: rgba(255, 255, 255, 0.1) !important;">Try an online practice space!</a>
</section>
