<section class="page-header-small">
  <h1 class="project-name">
    <a class="project-name-link" href="{{site.baseurl}}">
      implicit bias in teaching
    </a>
  </h1>
  <h2 class="project-tagline">Interactive case studies for understanding and addressing bias in STEM</h2>
  <a href="{{site.baseurl}}/" class="btn">Why bias matters</a>
  <a href="{{site.baseurl}}/behaviors.html" class="btn">How bias can surface in teaching</a>
  <a href="{{site.teachermoments.demo_url}}" class="btn">How we can improve</a>
</section>